.UrlBut{
    border: none;
    color: white;
    width: 49%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top:3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    

}
#text{
    size: 14px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
#remove{
    
    float:right;
    background-color:crimson;
}
#add{
    
    float:left;
    background-color:forestgreen;
}
